[submodule "discovery-service"]
	path = discovery-service
	url = https://github.com/NextSpringMysqlMSA/NSMM-discovery-service.git
[submodule "config-service"]
	path = config-service
	url = https://github.com/NextSpringMysqlMSA/NSMM-config-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/NextSpringMysqlMSA/NSMM-auth-service.git
[submodule "tcfd-service"]
	path = tcfd-service
	url = https://github.com/NextSpringMysqlMSA/NSMM-tcfd-service.git
[submodule "csdd-service"]
	path = csdd-service
	url = https://github.com/NextSpringMysqlMSA/csdd-service.git
[submodule "gri-service"]
	path = gri-service
	url = https://github.com/NextSpringMysqlMSA/gir-service.git
[submodule "dashboard-service"]
	path = dashboard-service
	url = https://github.com/NextSpringMysqlMSA/dashboard-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/NextSpringMysqlMSA/ESG-project2-frontend.git
[submodule "front"]
	path = front
	url = https://github.com/NextSpringMysqlMSA/ESG-project2-frontend.git
[submodule "frontend-service"]
	path = frontend-service
	url = https://github.com/NextSpringMysqlMSA/ESG-project2-frontend.git
[submodule "company-api"]
	path = company-api
	url = https://github.com/NextSpringMysqlMSA/company-api-service.git
[submodule "esg-news-analyzer"]
	path = esg-news-analyzer
	url = https://github.com/NextSpringMysqlMSA/ESG-NewsAnalysis.git
[submodule "news-crawl-service"]
	path = news-crawl-service
	url = https://github.com/NextSpringMysqlMSA/news-crawl-service.git
